<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.js"></script>
    <meta charset="UTF-8">
    <title>Dealfuns</title>
</head>
<body>


<a href="http://47.251.8.226/demo/add?name=chenxing.pancx&email=ssevening@gmail.com" data-role="button">Add</a><br>

<a href="http://47.251.8.226/findByEmail?email=ssevening@gmail.com" data-role="button">findByEmail ssevening@gmail.com</a><br>

<a href="http://47.251.8.226/demo/all" data-role="button">all users info</a><br>

<a href="http://47.251.8.226/demo/all" data-role="button">all users info</a><br>

<a href="http://47.251.8.226/demo/allProducts" data-role="button">all product info</a><br>





</body>
</html>