<!DOCTYPE html>
<html xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:th="http://www.thymeleaf.org">

<!--/*@thymesVar id="product" type="hello.dao.pojo.ProductDetail"*/-->
<head>
    <meta charset="utf-8"/>
    <title th:text="${product}">Product Title</title>
    <meta name="keywords"
          th:content="${product.keywords}"
          content="keywords"/>
    <meta name="description" th:content="${product.description}" content="description"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <meta property="og:title" th:content="${product.productTitle}"
          content="og:title"/>
    <meta property="og:type" content="product"/>
    <meta property="og:image"
          th:content="${product.imageUrl}"
          content=""/>
    <meta property="og:description" th:content="${product.description}"
          content="description"/>
    <meta property="og:site_name" content="dealfuns.com"/>
    <link href=""
          rel="canonical"/>

    <link rel="stylesheet" type="text/css" href="/css/detail.css"/>
    <link href="/css/shopping.css" rel="stylesheet" type="text/css"/>
</head>
<body class="glo-detail-page">


<div class="top-lighthouse" data-spm="1000001" id="top-lighthouse">
    <div class="top-lighthouse-wrap container">
        <div class="nav-global" id="nav-global">
            top-lighthouse
        </div>
    </div>
</div>
<!--ams-region-end 580-->

<div class="header header-outer-container" id="header" data-spm="1000002">
    <div class="header-wrap container">
        <div class="hm-left">
            <div class="site-logo inside-page-logo">

            </div>
        </div>
        <div class="hm-right">

        </div>
    </div>
</div>

<div class="store-header notranslate" id="j-store-header">
    <div class="container util-clearfix">
        <div class="store-header-container" data-role="store-header">
            <span class="shop-name"><i>Store:</i><a href="//www.aliexpress.com/store/1131150"
                                                    th:href="${product.storeUrl}" th:text="${product.storeName}">Store Name</a></span>



        </div>
    </div>
</div>
<div class="ui-breadcrumb" data-spm="100004">
    <div class="container">

    </div>
</div>
<div class="detail" id="j-detail-page">
    <div class="detail-bd-wrap">
        <div class="detail-bd container util-clearfix detail-image-dynamic" id="j-product-detail-bd">
            <div class="detail-main" data-spm="1000016">
                <div class="detail-wrap">


                    <h1 class="product-name" itemprop="name" th:text="${product.productTitle}"></h1>

                    <div class="product-star-order">
                        <span class="order-num" id="j-order-num">1 order</span>
                    </div>
                    <!-- detail esi-->

                    <div class="product-price-area">
                        <div class="product-price ">
                            <div class="product-price-main">
                                <div class="p-del-price-detail">
                                    <span class="p-del-price-title">Price:</span>
                                    <del class="p-del-price-content notranslate">
                                        <span id="j-sku-price"
                                              class="p-price"
                                              th:text="${product.originalPrice}"></span>
                                        <span class="p-splitter">/</span><span class="p-unit"
                                                                               th:text="${product.packageType}"> piece </span>
                                    </del>
                                </div>
                                <div class="p-price-detail util-clearfix">
                                    <span class="bigslae-price-title">Sale Price: </span>
                                    <div class="p-current-price">
                                        <div class="p-price-content">
                                            <span id="j-sku-discount-price"
                                                  class="p-price"
                                                  th:text="${product.salePrice}">7.16</span>
                                            <span class=" p-splitter">/</span><span class="p-unit"
                                                                                    th:text="${product.packageType}"> piece </span>
                                        </div>

                                        <span class="p-discount-rate" th:text="${product.discount}">48%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="product-action-block" id="j-product-action-block">
	<span class="product-action-main">
		<a href="javascript:;" class="buy-now-btn" id="j-buy-now-btn" data-disabled="false">Buy Now</a>
	</span>

                    </div>

                    <dl class="p-property-item p-new-user-promotion" id="j-p-new-user-promotion">
                        <dt class="p-item-title">New User Coupon:</dt>
                        <dd class="p-item-main util-clearfix">
                        </dd>
                    </dl>
                    <dl class="p-property-item p-store-promotion" id="j-p-store-promotion">
                        <dt class="p-item-title">Store Promotion:</dt>
                        <dd class="p-item-main util-clearfix">
                        </dd>
                    </dl>
                    <div id="j-seller-promise-list" class="seller-promise-list">
                        <dl class="return-policy util-clearfix">
                            <dt>Return Policy</dt>
                            <dd>
                                <div class="s-serve sp-1"> Returns accepted if product not as described, buyer pays
                                    return shipping fee; or keep the product &amp; agree refund with seller. <a
                                            rel="nofollow" class="ui-arrow-right-after" href="javascript:void(0)">View
                                        details</a></div>
                            </dd>
                        </dl>

                        <dl class="s-seller-guarantees util-clearfix" id="serve-guarantees-detail">
                            <dt>Seller Guarantees:</dt>
                            <dd class="util-clearfix">
                                <div class="s-serve sp-5">
                                    <a rel="nofollow" href="javascript:void(0)" hidefocus="true"><em>On-time
                                        Delivery</em><span class="sp-brief"><span class="promise-time-cont"></span> days</span>
                                        <div class="ui-balloon ui-balloon-tl">
                                            Full refund if product isn't received in <i><span
                                                class="promise-time-cont"></span> days</i> <span
                                                class="ui-balloon-arrow"></span>
                                        </div>
                                    </a>
                                </div>
                            </dd>
                        </dl>
                    </div>

                    <dl class="p-property-item p-payment-type" id="j-p-payment-type">
                        <dt class="p-item-title">Payment:</dt>
                        <dd class="p-item-main util-clearfix">
                            <ul class="payment-type-list util-clearfix">
                            </ul>
                        </dd>
                    </dl>
                    <div class="buyer-protection-banner" id="j-bp-banner"></div>
                    <!--ams-region-end 730-->
                </div>
            </div>
            <div class="detail-gallery">
                <div class="detail-gallery-main" id="j-detail-gallery-main">
                    ads show area

                </div>
            </div>
        </div>
    </div>
    <div class="detail-main-layout container util-clearfix">
        <div class="col-main">
            <div id="ppc-personalized-recommendation-p4p" class="recommend-products-p4p ppcaf-p4p" data-spm="1000099">
            </div>
            <div class="main-wrap">
                <div class="main-content">
                    <div id="j-product-tabbed-pane" class="ui-tab ui-tab-normal">
                        <ul class="ui-tab-nav">
                            <li data-trigger="pdt" class="ui-tab-active" data-role="trigger">
                                <a href="javascript:;">Product Details</a>
                            </li>
                        </ul>
                        <div class="ui-tab-body">
                            <div class="ui-tab-pane" data-role="panel" style="display:block;">
                                <div class="product-desc" id="j-product-desc">

                                    <div class="ui-box product-description-main" id="j-product-description">
                                        <div th:each="image : ${product.getImageUrlList()}">
                                            <img th:src="${image}" th:alt="${product.productTitle}"/><br/>
                                        </div>
                                    </div>


                                    <div class="ui-box transaction-feedback-main" id="j-transaction-feedback"
                                         data-spm="1000024">
                                        <div class="loading32"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui-tab-pane" data-role="panel" id="feedback">

                            </div>
                            <div class="ui-tab-pane seller-guarantees-main" data-role="panel"
                                 id="j-seller-guarantees-pane" data-spm="1000021">
                                <div class="loading32"></div>
                            </div>
                        </div>
                    </div>

                    <div class="ui-box related-products-main" id="j-related-products">
                        <div class="ui-box-title"><h5>More Products</h5></div>

                        <div class="ui-box-body">

                            <div id="j-rpbk-from-thisseller" class="ui-sub-box" data-spm="1000013">
                                more products draw
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sub detail-sub-wrap">

            <div class="store-info-wrap" id="j-store-info-wrap" data-spm="100005">
                <dl class="store-intro">
                    <dt>Sold By</dt>
                    <dd class="store-name notranslate">
                        <a class="store-lnk" target="_blank" href="//www.aliexpress.com/store/1131150"
                           title="KEHU Official Store">KEHU Official Store</a>
                    </dd>
                    <dd class="store-address">
                        China (Zhejiang)
                    </dd>
                </dl>
                <div class="store-score-main">
                    <div data-role="score" class="seller-score">
                        <div class="loading16"></div>
                    </div>
                    <div class="seller-dsr" data-role="dsr">
                        <span class="dsr-trigger">Detailed seller ratings</span>
                    </div>
                </div>
                <div class="store-open-time">Open: <span>5 year(s)</span></div>
                <div class="store-operate-main">
                    <a target="_blank" href="//www.aliexpress.com/store/1131150" class="go-store-link"
                       rel="nofollow"><span>Visit Store</span></a>
                </div>
            </div>
            <div id="j-seller-categories" class="ui-box seller-categories">
                <div class="loading16"></div>
            </div>
            <div id="j-top-selling-products" class="ui-box top-selling-products">
                <div class="loading16"></div>
            </div>
            <div id="j-trending-products" class="ui-box trending-products" data-spm="1000010">
                <div class="loading16"></div>
            </div>
        </div>
    </div>
</div>

<!--ams-region-start 571-->
<link href="/css/footer.css" rel="stylesheet" type="text/css"/>
<div class="site-footer">
    <div class="container">

    </div>
</div>

<div class="footer-copywrite">
    <div class="container">
    </div>
</div>


</body>
</html>
